/* Top menu bar buttons */

.clicked-step {
    color: #00B6FF !important;
}

#top-menu-btns>a.step>i {
    font-size: 25px;
}

#top-menu-btns>div.step {
    padding: 5px 20px 5px 20px;
    background-color: #EDF0F2;
    color: #1C2533;
}

#top-menu-btns>div.step:after {
    background-color: #EDF0F2;
}

#top-menu-btns>a.step {
    border-top: 1px solid #646f81;
    border-bottom: 1px solid #646f81;
    border-right: 1px solid #646f81;
    border-left: 1px solid #646f81;
    color: #646f81;
    background-color: #1C2533;
    padding: 5px 20px 5px 20px;
    width: 15%;
}

#top-menu-btns>a:nth-child(1) {
    border-left: 1px solid #646f81;
}

#top-menu-btns>a.step::after {
    border-right: 1px solid #646f81;
    border-bottom: 1px solid #646f81;
    background-color: #1C2533;
    transition: 0.3s;
}

#top-menu-btns>a.step.after::after {
    border-right: 1px solid #EDF0F2;
    border-bottom: 1px solid #EDF0F2;
    background-color: #1C2533;
    transition: 0.3s;
}

/* Left panel */

div.field>label {
    color: gray !important;
}

#menu-settings {
    color: #646f81;
    font-size: 30px;
    cursor: pointer;
}

#menu-settings:hover {
    color: #00B6FF;
    transition: 0.3s;
}