input.input-error {
    background-color: #fff6f6 !important;
    border-color: #e0b4b4 !important;
}

input.input-error:hover {
    border-color: #EF0000 !important;
}

input:hover {
    border-color: #5F6877 !important;
}

textarea:hover {
    border-color: #5F6877 !important;
}

#dragging-box {
    cursor: e-resize;
}

div#base-view-jsx {
    width: 200px;
    height: 200px;
    position: absolute !important;
    right: 30px;
    bottom: 30px;
}

#three-axis {
    width: 200px;
    height: 200px;
    position: absolute;
    top: 0px;
    right: 30px;
    background-color: transparent;
}

#info-panel {
    position: absolute;
    top: 30px;
    left: 30px;
    background-color: transparent;
}

#info-panel p {
    color: #1C2533;
    margin-left: 10px;
}


.load-label{
    color: black;
    font-weight: 800;
}